    ﻿@using SurgiTrackUI.Models
@model AmeliyatDoktorHastaViewModel

@{
    ViewData["Title"] = "Ameliyatı";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-4 text-center border-bottom pb-2">
                @foreach (var hasta in Model.hasta)
                {
                   <div>@hasta.Ad @hasta.Soyad</div> 
                }
                @Model.Ameliyatlar.AmeliyatAdi @ViewData["Title"]
            </h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <div class="text-danger small mb-4"></div>

            @*<div class="text-center mb-3">
                <label class="form-label small mb-2">Profil İmage</label>
                <img src="~/uploads/@Model.ProfilImageFileName" width="128" class="img-thumbnail rounded-circle" />
                </div>*@
<div class="form-group">
                <label class="form-label small">Hasta Adı</label>
                <div class="form-control">@foreach (var hasta in Model.hasta)
                {
                    <div class="hasta-item">@hasta.Ad @hasta.Soyad -->
                   <a href="@Url.Action("TekilHasta", "Hasta", new { id = hasta.Id })">Hasta Profiline Git</a></div>
                }</div>
            </div>
            <div class="form-group">
                <label class="form-label small">Ameliyat Adı</label>
                <div class="form-control">@Model.Ameliyatlar.AmeliyatAdi</div>
            </div>

            <div class="form-group">
                <label class="form-label small">Ameliyat Tarihi</label>
                <div class="form-control">@Model.Ameliyatlar.AmeliyatTarihi</div>
            </div>
        <div class="form-group">
    <label class="form-label small">Ameliyat Doktoru </label>
  @foreach (var doktor in Model.doktor)
        {  
    <div class="form-control">
        
            <div>
                @doktor.Ad    @doktor.Soyad -->
                <a href="@Url.Action("TekilDoktor", "Doktor", new { id = doktor.Id })">Doktor Profiline Git</a>
            </div>
       
    </div> 
        }
</div>

            <div class="form-group">
                <label class="form-label small">Hasta Detayları</label>
                <div class="form-control">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
            </div>




        </div>
    </div>
</div>