﻿@using SurgiTrackUI.Models
@model AmeliyatListViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+z0I5t9z5lFf5r5lCtH5UhV/wGn1I6Ii/zpCtHfQZzQmG6Z4Og6iFlPeaVTFA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h3>Apandisit Listesi</h3>
        </div>
        <table id="yourTableId" class="table table-bordered table-striped table-sm">
            <thead>
                <!--  <form method="get" action="@Url.Action("DoktorListesi", "Doktor")">
                         <div class="input-group mb-3">
                             <input type="text" class="form-control" name="search" id="searchInput" placeholder="Doktor Adı">
                             <button class="btn btn-outline-secondary" type="submit">Ara</button>
                         </div>
                     </form> -->
                <tr>

                    <th>Ameliyat Tipi</th>
                    <th>Ameliyat Yapılan Bölge</th>
                    <th>Ameliyat Yöntemi</th>
                    <th>GAA_PVI</th>
                    <th>Rektum Askıya Alma</th>
                    <th>Vajen Duvar Ayrılması</th>
                    <th>Anüs Sfinter Koruma</th>
                    <th>Pull Through İşlemi</th>
                    <th>Anostomoz Yapılması</th>
                    <th>Vajen Hymen Koruma</th>
                    <th>Kanama Kontrolü</th>
                    <th>Komplikasyon Durumu</th>

                    <th>İşlemler</th>


                    <!-- Diğer kullanıcı özellikleri eklenebilir -->
                </tr>
            </thead>
            <tbody>
                @foreach (var kolonPullThroughKadin in Model.KolonPullThroughKadins)
                {
                    <tr>

                        <td>@kolonPullThroughKadin.AmeliyatTipi</td>
                        <td>@kolonPullThroughKadin.AmeliyatYapilanBolge</td>
                        <td>@kolonPullThroughKadin.AmeliyatYontemi</td>
                        <td>@kolonPullThroughKadin.GAA_PVI</td>
                        <td>@kolonPullThroughKadin.RektumAskiyaAlma</td>
                        <td>@kolonPullThroughKadin.VajenDuvarAyrilmasi</td>
                        <td>@kolonPullThroughKadin.AnusSfinterKoruma</td>
                        <td>@kolonPullThroughKadin.PullThroughIslemi</td>
                        <td>@kolonPullThroughKadin.AnostomozYapilmasi</td>
                        <td>@kolonPullThroughKadin.VajenHymenKoruma</td>
                        <td>@kolonPullThroughKadin.KanamaKontrolu</td>
                        <td>@kolonPullThroughKadin.KomplikasyonDurumu</td>

                        <td>

                            <a href="@Url.Action("TekilKolonPullThroughKadin", "KolonPullThroughKadin", new { id = kolonPullThroughKadin.Id })" class="btn btn-primary btn-sm"> <i class="bi bi-person"></i>AnalAtrezi Ameliyat Detayları</a>
                            <a asp-action="Edit" asp-route-id="@kolonPullThroughKadin.Id" class="btn btn-info btn-sm "><i class="fa fa-edit me-2"> Edit</i></a>
                            <a asp-action="Delete" asp-route-id="@kolonPullThroughKadin.Id"
                               onclick="return confirm('Are you sure  want to delete this Surgery: @kolonPullThroughKadin.Id')"
                               class="btn btn-danger btn-sm"><i class="fa fa-trash me-2"> Remove</i></a>
                        </td>
                        <!-- Diğer kullanıcı özellikleri eklenebilir -->
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script>
        // Sayfa yüklendiğinde ve arama kutusuna her yazıldığında çalışacak JavaScript fonksiyonu
        $(document).ready(function () {

            $('#yourTableId').DataTable();
        });
    </script>
</body>
</html>