﻿@using SurgiTrackUI.Models
@model DoktorAmeliyatViewModel

@{
    ViewData["Title"] = "Doktor Profile's";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-4 text-center border-bottom pb-2"> @ViewData["Title"] @Model.Doktor.Ad</h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <div  class="text-danger small mb-4"></div>

            @*<div class="text-center mb-3">
                <label class="form-label small mb-2">Profil İmage</label>
                <img src="~/uploads/@Model.ProfilImageFileName" width="128" class="img-thumbnail rounded-circle" />
            </div>*@

            <div class="form-group">
                <label class="form-label small">ad</label>
                <div class="form-control">@Model.Doktor.Ad</div>
            </div>

            <div class="form-group">
                <label class="form-label small">soyad</label>
                <div class="form-control">@Model.Doktor.Soyad</div>
            </div> 
            
            <div class="form-group">
                <label class="form-label small">soyad</label>
                <div class="form-control">@Model.Doktor.Telefon</div>
            </div> 
            <div class="form-group">
                <label class="form-label small">Hasta Detayları</label>
                <div class="form-control">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
            </div>
            
     
            <div class="col-md-6">
        <h4 class="mt-4">Doktor's Latest Ameliyats</h4>
      
     <ul>
    @foreach (var ameliyat in Model.Ameliyatlar)
    {
        <li>
            <a href="@Url.Action("TekilAmeliyat", "Ameliyat", new { id = ameliyat.Id })">@ameliyat.AmeliyatAdi</a>
        </li>
    }
</ul>
</div>
            
        </div>
    </div>
</div>